.title {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}

.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--text);
}

.form input,
.form textarea,
.form select {
  padding: 30px;
  background-color: var(--bg);
  color: var(--text);
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 45%;
}

.form input {
  width: 45%;
}

.form input::placeholder {
  color: var(--text);
  opacity: 1;
}

.form textarea {
  width: 100%;
  color: var(--text);
}

.form textarea::placeholder {
  color: var(--text);
  opacity: 1;
}

.form button {
  width: 100%;
  padding: 30px;
  background-color: var(--textSoft);
  border: solid;
  border-color: var(--textSoft);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: var(--bg);
  
}

.form button:hover {
  border: solid;
  border-radius: 5px;
  border-color: var(--textSoft);
  background-color: var(--bgSoft);
  color: var(--textSoft);
}
