:root{
    --bg:#002349;
    --bgSoft:#19385b;
    --text:#BFA181;
    --textSoft:#7A2048;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg);
    color:var(--text);
}

a{
    color: inherit;
    text-decoration: none;
}